---
name: Section Header
description: A section header
variables:
  text:
    - string
    - The text you would like displayed as the section header.
---

<div class="w-full mb-6 lg:mb-4">
  <h1 class="mb-2 text-2xl font-medium text-gray-900 sm:text-3xl">
    {{ text }}
  </h1>
  <div class="w-20 h-1 bg-red-500 rounded"></div>
</div>
