---
name: Description List Entry
description: A group consisting of a term and description
variables:
  term:
    - with
    - The term
  description:
    - with
    - The description
---

<div class="sm:shadow-inner sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
  <dt class="text-sm font-medium leading-5 text-gray-500">
    {{ term }}
  </dt>
  <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
    {{ description }}
  </dd>
</div>
