---
name: Navbar
description: Displays the site navigation bar
variables:
  metadata: [object, The site metadata object]
  page: [object, The page object]
---
<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/posts">Posts</a>
  {% render "bridgetown_quick_search/search", placeholder: "Search", input_class: "input", theme: "dark", snippet_length: 200 %}
</nav>
